



@font-face {
    font-family: FlameFONT;
    src: url(fonts/Hothead.ttf);
}


.good_morning{
    background-image: url(im/FLAMESSSS.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hatred{
    font-family: FlameFONT;
    color: red;
    text-align: center;
}

.hatred h1{
    font-size: 70px;
}

.n_dad{
    margin-top: -55px;
}

.josh_button{
    font-family: FlameFONT;
    color: firebrick;
    font-size: 200px;
}

#Whistlee{
    display: none;
}